/* TABLE HTML START */

table,
th,
td {
  border: 1px solid black;
}

.pages-button{
 width: fit-content;
}
/* TABLE HTML END */

/* responsive start */
@media screen and (min-width: 1024px) {
  table {
    width: 50%;
  }

  th {
    padding: 5px 30px;
    text-align: center;
    background-color: lightgrey;
    font-size: 20px;

  }

  td {
    padding: 5px 30px;
    text-align: center;
    font-size: 20px;

  }
}

@media screen and (max-width: 768px) {
  table {
    width: 50%;
  }

  th {
    padding: 2px 25px;
    text-align: center;
    background-color: lightgrey;
    text-align: center;
  }

    td {
    padding: 2px 25px;
    text-align: center;
  }
}

@media screen and (max-width: 765px){
  table {
    width: 50%;
  }

  th {
    padding: 1px 3px;
    text-align: center;
    background-color: lightgrey;
    text-align: center;
    font-size: 14px;
  }

    td {
    padding: 1px 3px;
    text-align: center;
    font-size: 14px;
  }

}


@media screen and (max-width: 375px){
    th {
    padding: 1px 3px;
    text-align: center;
    background-color: lightgrey;
    text-align: center;
    font-size: 10px;
  }

    td {
    padding: 1px 3px;
    text-align: center;
    font-size: 10px;
  }
  .btn{
 width: fit-content;
 font-size: 10px;
}
}
/* responsive end */
