/* TABLE HTML START */
table{
  width: 50%;
}
table, th, td {
  border:1px solid black;
}

th{
  padding: 5px 30px;
  text-align: center;
  background-color: lightgrey;
}

td{
  padding: 5px 30px;
  text-align: center;
}


/* TABLE HTML END */